{% import "bootstrap/wtf.html" as wtf %}

{% macro pagination_widget(pagination, endpoint, fragment='') %}
{% if pagination.pages > 1 %}
<ul class="pagination">
    <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &laquo;
        </a>
    </li>
    {% for p in pagination.iter_pages() %}
        {% if p %}
            {% if p == pagination.page %}
            <li class="active">
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% endif %}
        {% else %}
        <li class="disabled"><a href="#">&hellip;</a></li>
        {% endif %}
    {% endfor %}
    <li{% if not pagination.has_next %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &raquo;
        </a>
    </li>
</ul>
{% endif %}
{% endmacro %}

{% macro result_counter(pagination) %}
{% if pagination.items|length > 0 %}
<p>Showing results {{ (pagination.page-1)*pagination.per_page+1 }} -
{% if pagination.has_next %}
    {{ pagination.page*pagination.per_page }} 
{% else %}
    {{ pagination.total }}
{% endif %}
of {{ pagination.total }}
</p>
{% endif %}
{% endmacro %}

{% macro quick_form(form, cancel=False, form_title=None, noautocomplete=True) %}
    {% if form_title is not none %}
        <h3>{{ form_title }}</h3>
    {% endif %}
    <form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
        {% if noautocomplete %}
        {{ wtf.form_field(field, autocomplete="off") }}
        {% else %}
        {{ wtf.form_field(field) }}
        {% endif %}
    {% endfor %}
    {% if cancel %}
        <input class="btn btn-warning my-2 my-sm-0 cancel-button" type="button" value="Cancel"></input>
    {% endif %}
    </form>
{% endmacro %}
