{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="../static/links.js"></script>
{% endblock %}

<div class="container">
    <h3>Author</h3>
    <table class="table">
        <tr>
            <th scope="row">Name</th>
            <td>{{ author.name }}</td>
        </tr>
        <tr>
            <th scope="row">ID</th>
            <td>{{ author.id }}</td>
        </tr>
    </table>
    <hr>
    <h3>Books</h3>
    <table class="table table-hover">
        <thead>
            <th>Title</th>
            <th>Borrowed By</th>
            <th>ID</th>
        </thead>
        {% for book in author.books %}
            <tr class="clickable-book"  data-href={{ url_for('book', id=book.id) }}>
                <td>{{ book.title }}</td>
                {% if book.borrower == None %}
                    <td>Available</td>
                {% else %}
                    <td>{{ book.borrower.name }}</td>
                {% endif %}
                <td>{{ book.id }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}