{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}

{% block style %}
<link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src={{ url_for('static', filename='links.js') }}></script>
{% endblock %}

<div class="container">
    <h3>Author</h3>
    <table class="table">
        <tr>
            <th scope="row">Name</th>
            <td>{{ author.name }}</td>
        </tr>
        <tr>
            <th scope="row">ID</th>
            <td>{{ author.id }}</td>
        </tr>
    </table>
    <hr>
    <h3>Books</h3>
    <table class="table table-bordered table-hover">
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Borrowed By</th>
        </thead>
        {% for book in author.books %}
            <tr>
                <td class="clickable-link"  data-href={{ url_for('book', id=book.id) }}>{{ book.id }}</td>
                <td class="clickable-link"  data-href={{ url_for('book', id=book.id) }}>{{ book.title }}</td>
                {% if book.borrower == None %}
                    <td>Available</td>
                {% else %}
                    <td class="clickable-link" data-href={{ url_for('user', id=book.borrower_id) }}>{{ book.borrower.name }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
