{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}

<div class="container">
    <h3 style="display: inline-block">Book</h3>
    <a class="btn btn-default" style="display: inline-block" href={{ url_for('editbook', _external=True, id=book.id )}}>Edit</a>
      <!-- Button trigger modal -->
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deleteConfirm">
          Delete
    </button>
    <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title" id="deleteConfirmLabel">Delete Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the book {{ book.title }}? All copies of this book will be deleted.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a type="button" class="btn btn-primary" href={{ url_for('deletebook', _external=True, id=book.id) }}>Delete</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <tr>
            <th scope="row">Title</th>
            <td>{{ book.title }}</td>
        </tr>
        <tr class="clickable-link" data-href={{ url_for('author', id=book.author_id) }}>
            <th scope="row">Author</th>
            <td>{{ book.author.name }}</td>
        </tr>
        <tr>
            <th scope="row">ID</th>
            <td>{{ book.id }}</td>
        </tr>
        <tr>
            <th scope="row">Copies</th>
            <td>{{ book.copies|length }}</td>
        </tr> 
    </table>
    <hr>
    <h3>Copies</h3>
    <table class="table table-hover">
        <thead>
            <th>ID</th>
            <th>Borrowed By</th>
            <th>Borrow Date</th>
            <th>Return Date</th>
        </thead>
        {% for copy in book.copies %}
            {% if copy.borrower is none %}
            <tr>
                <td>{{ copy.id }}</td>
                <td>Available</td>
                <td></td>
                <td></td`>
            </tr>
            {% else %}
            <tr class="clickable-link" data-href={{ url_for('user', id=copy.borrower_id) }}>
                <td>{{ copy.id }}</td>
                <td>{{ copy.borrower.name }}</td>
                <td>{{ copy.borrow_time }}</td>
                <td>{{ copy.return_time }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% if borrowed_id == 0 %}
        <a class="btn btn-default" href={{ url_for('borrow', _external=True, id=book.id )}}>Borrow Book</a>
    {% else %}
        <a class="btn btn-default" href={{ url_for('returnbook', _external=True, id=borrowed_id )}}>Return Book</a>
    {% endif %}
</div>
{% endblock %}
