{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}

<div class="container">
    <h3 style="display: inline-block">Book</h3>
    <a class="btn btn-default" style="display: inline-block" href={{ url_for('editbook', _external=True, id=book.id )}}>Edit</a>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deleteConfirm">
          Delete
    </button>
    <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title" id="deleteConfirmLabel">Delete Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the book {{ book.title }}? All copies of this book will be deleted.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a type="button" class="btn btn-primary" href={{ url_for('deletebook', _external=True, id=book.id) }}>Delete</a>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#help">
          Help
    </button>
    <div class="modal fade" id="help" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title" id="helpLabel">Book Page Help</h4>
                </div>
                <div class="modal-body">
                    <p>
                        This is a book information page, which displays information on the book and its copies. Clicking on the name of the
                        book's author will link you to the author's page. By clicking the 'edit' button you can change the title and author of
                        the book and add further copies. By clicking on the red 'x' next to the ID number of each book copy, you can delete a copy
                        of the book. Clicking on the table row for a copy will link you to the user page for the borrower of the copy if possible.
                    </p>
                    <p>
                        If a user is logged in, they can borrow or return a book here
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <tr>
            <th scope="row">Title</th>
            <td>{{ book.title }}</td>
        </tr>
        <tr class="clickable-link" data-href={{ url_for('author', id=book.author_id) }}>
            <th scope="row">Author</th>
            <td>{{ book.author.name }}</td>
        </tr>
        <tr>
            <th scope="row">ID</th>
            <td>{{ book.id }}</td>
        </tr>
        <tr>
            <th scope="row">Copies</th>
            <td>{{ book.copies|length }}</td>
        </tr> 
    </table>
    <hr>
    <h3>Copies</h3>
    <table class="table table-hover">
        <thead>
            <th></th>
            <th>ID</th>
            <th>Borrowed By</th>
            <th>Borrow Date</th>
            <th>Return Date</th>
            <th>Borrow</th>
        </thead>
        {% for copy in book.copies %}
            <tr>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="close" style="color: #f00;" data-toggle="modal" data-target={{ "#copyModal" ~ loop.index }}>
                          <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal fade" id={{ "copyModal" ~ loop.index }} tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span>&times;</span>
                                    </button>
                                    <h4 class="modal-title" id={{ "closeCopyModal" ~ loop.index }}>Delete Confirmation</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete a copy of {{ book.title }} with ID {{ copy.id }}?</p>
                                    {% if book.copies|length == 1 %}
                                    <p>Since this is the last copy, deleting this copy will delete the book {{ book.title}} by {{ book.author.name }}</p>
                                    {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <a type="button" class="btn btn-primary" href={{ url_for('deletecopy', _external=True, id=copy.id) }}>Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            {% if copy.borrower is none %}
                <td>{{ copy.id }}</td>
                <td>Available</td>
                <td></td>
                <td></td>
            {% else %}
                <td class="clickable-link" data-href={{ url_for('user', id=copy.borrower_id) }}>{{ copy.id }}</td>
                <td class="clickable-link" data-href={{ url_for('user', id=copy.borrower_id) }}>{{ copy.borrower.name }}</td>
                <td class="clickable-link" data-href={{ url_for('user', id=copy.borrower_id) }}>{{ copy.borrow_time_pretty() }}</td>
                <td class="clickable-link" data-href={{ url_for('user', id=copy.borrower_id) }}>{{ copy.return_time_pretty() }}</td>
            {% endif %}
            {% if copy.id in borrowed_id %}
                <td><a class="btn btn-primary" href={{ url_for('returnbook', id=copy.id) }}>Return Book</a></td>
            {% elif copy.borrower is none %}
                <td><a class="btn btn-default" href={{ url_for('borrow', id=copy.id) }}>Borrow Book</a></td>
            {% else %}
                <td></td>
            {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
