{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block page_content %}

<div class="container">
    <h1>Borrowed Books</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <th>Book ID</th>
            <th>Copy ID</th>
            <th>Title</th>
            <th>Borrower ID</th>
            <th>Borrower</th>
            <th>Time Left</th>
        </thead>
        {% for copy in copies %}
        <tr>
            <td class="clickable-link" data-href={{ url_for('book', id=copy.book_id) }}>{{ copy.book_id }}</td>
            <td class="clickable-link" data-href={{ url_for('book', id=copy.book_id) }}>{{ copy.id }}</td>
            <td class="clickable-link" data-href={{ url_for('book', id=copy.book_id) }}>{{ copy.book.title }}</td>
            <td class="clickable-link" data-href={{ url_for('user', id=copy.borrower_id) }}>{{ copy.borrower_id }}</td>
            <td class="clickable-link" data-href={{ url_for('user', id=copy.borrower_id) }}>{{ copy.borrower.name }}</td>
            <td class="clickable-link" data-href={{ url_for('book', id=copy.book_id) }}>
            {% if copy.is_overdue() %}
                Overdue
            {% else %}
                {{ copy.time_left() }}
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <nav>
        {{ macros.pagination_widget(pagination, 'borrowedbooks') }}
    </nav>
</div>
{% endblock %}
