{% extends "base.html" %}
{% block page_content %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src={{ url_for('static', filename='links.js') }}></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
{% endblock %}

<div class="container">
<table class="table table-bordered table-hover">
    <thead>
        <th>Book ID</th>
        <th>Copy ID</th>
        <th>Title</th>
        <th>Borrower ID</th>
        <th>Borrower</th>
    </thead>
    {% for copy in copies %}
    <tr>
        <td class="clickable-link" data-href={{ url_for('book', id=copy.book_id) }}>{{ copy.book_id }}</td>
        <td class="clickable-link" data-href={{ url_for('book', id=copy.book_id) }}>{{ copy.id }}</td>
        <td class="clickable-link" data-href={{ url_for('book', id=copy.book_id) }}>{{ copy.book.title }}</td>
        <td class="clickable-link" data-href={{ url_for('user', id=copy.borrower_id) }}>{{ copy.borrower_id }}</td>
        <td class="clickable-link" data-href={{ url_for('user', id=copy.borrower_id) }}>{{ copy.borrower.name }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
