{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block page_content %}

<div class="container">
{% if copies|length > 0 %}
    <!--Help modal-->
    <h1 style="display: inline-block;">Borrowed Books</h1>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#help">
          Help
    </button>
    <div class="modal fade" id="help" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title" id="helpLabel">Borrowed Page Help</h4>
                </div>
                <div class="modal-body">
                    <p>
                        This information page displays a list of all checked out books, and how many days are
                        left to their return date. Click on any book data to be directed to the book's information page,
                        and click on any user data to be directed to the borrower's information page.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {{ macros.result_counter(pagination) }}
    <!--Table of copy info-->
    <table class="table table-bordered table-hover">
        <thead>
            <th>Book ID</th>
            <th>Copy ID</th>
            <th>Title</th>
            <th>Borrower ID</th>
            <th>Borrower</th>
            <th>Time Left</th>
        </thead>
        {% for copy in copies %}
            {% if copy.is_overdue() %}
                <tr class="danger">
            {% else %}
                <tr>
            {% endif %}
            <td class="clickable-link" data-href={{ url_for('book', id=copy.book_id) }}>{{ copy.book_id }}</td>
            <td class="clickable-link" data-href={{ url_for('book', id=copy.book_id) }}>{{ copy.id }}</td>
            <td class="clickable-link" data-href={{ url_for('book', id=copy.book_id) }}>{{ copy.book.title }}</td>
            <td class="clickable-link" data-href={{ url_for('user', id=copy.borrower_id) }}>{{ copy.borrower_id }}</td>
            <td class="clickable-link" data-href={{ url_for('user', id=copy.borrower_id) }}>{{ copy.borrower.name }}</td>
            <td class="clickable-link" data-href={{ url_for('book', id=copy.book_id) }}>
            {% if copy.is_overdue() %}
                Overdue
            {% else %}
                {{ copy.time_left() }}
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <nav>
        {{ macros.pagination_widget(pagination, 'borrowedbooks') }}
    </nav>
{% else %}
    <h2>There are currently no borrowed books</h2>
{% endif %}
</div>
{% endblock %}
