{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block page_content %}
<div class="container">
{% if users|length > 0 %}
    <!--Help modal-->
    <h1 style="display: inline-block;">All Fines</h1>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#help">
          Help
    </button>
    <div class="modal fade" id="help" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title" id="helpLabel">Fines Page Help</h4>
                </div>
                <div class="modal-body">
                    <p>
                        This page displays a list of all unpaid fines and the accumulated fines of current overdue books.
                        Clicking on a row in the table will take you to the page of the student or teacher.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <span class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            Sort By <b class="caret"></b>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href={{ url_for("fines", sort_by="userid") }}>ID</a></li>
            <li><a class="dropdown-item" href={{ url_for("fines", sort_by="useraz") }}>Name</a></li>
            <li><a class="dropdown-item" href={{ url_for("fines", sort_by="userfine") }}>Fines</a></li>
        </ul>
    </span>
    <!--Pagination and table of users with fines-->
    {{ macros.result_counter(pagination) }}
    <table class="table table-bordered table-hover">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Fines Due</th>
            <th>Uncounted Fines</th>
        </thead>
        {% for user in users %}
        <tr class="clickable-link" data-href={{ url_for('user', id=user.id) }}>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <!--Below formats fine, which is stored as floating point, in form $0.00-->
            <td>{{ '$' ~ '%0.2f'| format(user.dec_total_fines()|float) }}</td>
            <td>{{ '$' ~ '%0.2f'| format((user.calc_overdue_fines()/100)|float) }}</td>
        </tr>
        {% endfor %}
    </table>
    <nav>
        {{ macros.pagination_widget(pagination, 'fines') }}
    </nav>
{% else %}
    <h2>There are currently no users with unpaid fines</h2>
{% endif %}
</div>
{% endblock %}
