{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block page_content %}
<div class="container">
    <form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
        {{ wtf.form_field(field, autocomplete="off") }}
    {% endfor %}
    </form>
    <div class="modal fade" id="help" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title" id="helpLabel">Search Page Help</h4>
                </div>
                <div class="modal-body">
                    <p>
                        This is a search result page, which displays the results of a search query. You can click on
                        an author's name to be directed to the data page for the author. Clicking on a book's information
                        will direct you to the data page for the book, where the book can be checked out
                    </p>
                    <p>
                        You can search the catalog through the search bar. Choose between searching in the list of 
                        books and authors. Searches can take ID numbers as inputs.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% if results|length > 0 %}
    {% if search_type == 'book' %}
        <h3 style="display: inline-block">Book Results</h3>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#help">
            Help
        </button>
        {{ macros.result_counter(pagination) }}
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Available Copies</th>
            </thead>
            <tbody>
            {% for book in results %}
                <tr>
                    <td class="clickable-link" data-href={{ url_for('book', id=book.id) }}>{{ book.id }}</td>
                    <td class="clickable-link" data-href={{ url_for('book', id=book.id) }}>{{ book.title }}</td>
                    <td class="clickable-link" data-href={{ url_for('author', id=book.author_id) }} >{{ book.author.name }}</td>
                    <td>{{ book.available() ~ '/' ~ book.copies|length  }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elif search_type == 'author' %}
        <h3 style="display: inline-block;">Author Results</h3>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#help">
            Help
        </button>
        {{ macros.result_counter(pagination) }}
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Name</th>
            </thead>
            <tbody>
            {% for author in results %}
                <tr class="clickable-link" data-href={{ url_for('author', id=author.id) }}>
                    <td>{{ author.id }}</td>     
                    <td>{{ author.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <nav>
         {{ macros.pagination_widget(pagination, 'search', keyword=keyword, search_type=search_type) }}
    </nav>
    {% else %}
        <h3>No Results Found</h3>
    {% endif %}
</div>
{% endblock %}
