{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block page_content %}
<div class="container">
    <form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
        {{ wtf.form_field(field, autocomplete="off") }}
    {% endfor %}
    </form>

    {% if results|length > 0 %}
    {% if search_type == 'book' %}
        <h3>Book Results</h3>
        {#<p>Showing results {{ (pagination.page-1)*pagination.per_page+1 }} -
        {% if pagination.has_next %}
            {{ pagination.page*pagination.per_page }} 
        {% else %}
            {{ pagination.total }}
        {% endif %}
        of {{ pagination.total }}
        </p> #}
        {{ macros.result_counter(pagination) }}
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Available Copies</th>
            </thead>
            <tbody>
            {% for book in results %}
                <tr>
                    <td class="clickable-link" data-href={{ url_for('book', id=book.id) }}>{{ book.id }}</td>
                    <td class="clickable-link" data-href={{ url_for('book', id=book.id) }}>{{ book.title }}</td>
                    <td class="clickable-link" data-href={{ url_for('author', id=book.author_id) }} >{{ book.author.name }}</td>
                    <td>{{ book.available() ~ '/' ~ book.copies|length  }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elif search_type == 'author' %}
        <h3>Author Results</h3>
        <p>Showing results {{ (pagination.page-1)*pagination.per_page+1 }} -
        {% if pagination.has_next %}
            {{ pagination.page*pagination.per_page }} 
        {% else %}
            {{ pagination.total }}
        {% endif %}
        of {{ pagination.total }}
        </p>
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Name</th>
            </thead>
            <tbody>
            {% for author in results %}
                <tr class="clickable-link" data-href={{ url_for('author', id=author.id) }}>
                    <td>{{ author.id }}</td>     
                    <td>{{ author.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <nav>
         {{ macros.pagination_widget(pagination, 'search', keyword=keyword, search_type=search_type) }}
    </nav>
    {% else %}
        <h3>No Results Found</h3>
    {% endif %}
</div>
{% endblock %}
