{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src={{ url_for('static', filename='links.js') }}></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
{% endblock %}

<div class="container">
    <h3 style="display: inline-block">User</h3>
    <a class="btn btn-default" style="display: inline-block" href={{ url_for('edituser', _external=True, id=user.id )}}>Edit</a>
    <table class="table">
        <tr>
            <th scope="row">Name</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th scope="row">ID</th>
            <td>{{ user.id }}</td>
        </tr>
    </table>
    <hr>
    <h3>Books</h3>
    <table class="table table-bordered table-hover">
        <thead>
            <th>Book ID</th>
            <th>Copy ID</th>
            <th>Title</th>
            <th>Author</th>
        </thead>
        {% for copy in user.books %}
            <tr>
                <td class="clickable-link"  data-href={{ url_for('book', id=copy.book_id) }}>{{ copy.book_id }}</td>
                <td class="clickable-link"  data-href={{ url_for('book', id=copy.book.id) }}>{{ copy.id }}</td>
                <td class="clickable-link"  data-href={{ url_for('book', id=copy.book.id) }}>{{ copy.book.title }}</td>
                <td class="clickable-link" data-href={{ url_for('author', id=copy.book.author_id) }}>{{ copy.book.author.name }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}