{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}

<div class="container">
    <h3 style="display: inline-block">User</h3>
    <a class="btn btn-default" style="display: inline-block" href={{ url_for('edituser', _external=True, id=user.id )}}>Edit</a>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deleteConfirm">
          Delete
    </button>
    <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title" id="deleteConfirmLabel">Delete Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete {{ user.usertype.name + ' ' +  user.name }}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a type="button" class="btn btn-primary" href={{ url_for('deleteuser', _external=True, id=user.id) }}>Delete</a>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#help">
          Help
    </button>
    <div class="modal fade" id="help" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title" id="helpLabel">User Page Help</h4>
                </div>
                <div class="modal-body">
                    <p>
                        This is an information page for a student or teacher. You can find information on a user's fines
                        and a list of books borrowed here. Clicking on the name of an author of a borrowed book will link you
                        to the author information page for that book. Clicking on any other part of the information row will link
                        you to the information page for the book, where the book can be returned. All books can be returned by
                        clicking on the 'Return All' button.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <tr>
            <th scope="row">Name</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th scope="row">User Type</th>
            <td>{{ user.usertype.name|title }}</td>
        </tr>
        <tr>
            <th scope="row">ID</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th scope="row">Fines</th>
            <td>{{ '$' ~ '%0.2f'| format(user.dec_total_fines()|float)}}</td>
        </tr>
    </table>
    {% if user.overdue_num() > 1 %}
        <p>This user has fines of {{ user.overdue_fine() }} in overdue books which will be added after the books are returned</p>
    {% elif user.overdue_num() > 0 %}
        <p>This user has a fine of {{ user.overdue_fine() }} in one overdue book which will be added after the book is returned</p>
    {% endif %}
    <hr>
    {% if user.total_fines > 0%}
        <h3>Pay a Fine</h3>
        <form method="POST">
        {{ payfine.hidden_tag() }}
        {% for field in payfine if field.widget.input_type != 'hidden' %}
            {{ wtf.form_field(field, autocomplete="off") }}
        {% endfor %}
        </form>
    {% endif %}
    <h3 style="display: inline-block;">Borrow a Book</h3>
    {% if 'userid' in session and session['userid'] == user.id and user.books|length > 0 %}
        <a class="btn btn-default" href={{ url_for('returnbook', id='all' )}}>Return All</a>
    {% endif %}
    <form method="POST">
    {{ borrow.hidden_tag() }}
    {% for field in borrow if field.widget.input_type != 'hidden' %}
        {{ wtf.form_field(field, autocomplete="off") }}
    {% endfor %}
    </form>
    <h3>Books</h3>
    <table class="table table-bordered table-hover">
        <thead>
            <th>Book ID</th>
            <th>Copy ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Due Date</th>
            <th>Time Left</th>
        </thead>
        {% for copy in user.books %}
            {% if copy.is_overdue() %}
            <tr class="danger">
            {% else %}
            <tr>
            {% endif %}
                <td class="clickable-link" data-href={{ url_for('book', id=copy.book_id) }}>{{ copy.book_id }}</td>
                <td class="clickable-link" data-href={{ url_for('book', id=copy.book.id) }}>{{ copy.id }}</td>
                <td class="clickable-link" data-href={{ url_for('book', id=copy.book.id) }}>{{ copy.book.title }}</td>
                <td class="clickable-link" data-href={{ url_for('author', id=copy.book.author_id) }}>{{ copy.book.author.name }}</td>
                <td class="clickable-link" data-href={{ url_for('book', id=copy.book.id) }}>{{ copy.return_time }}</td>
                <td class="clickable-link" data-href={{ url_for('book', id=copy.book_id) }}>{{ copy.time_left() }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
